div::-webkit-scrollbar {
    display: none;
}

.community-page {
    width: 100%;
    height: 100%;
}

.community-page h1{
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 5vw;
    line-height: 50px;
}

.community-page .buttons {
    width: 100%;
    height: 3.5vw;
    margin-bottom: 27px;
    display: flex;
}

.community-page .button {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    height: 100%;
    color: var(--history-menu);
    background-color: var(--sidebar-gradient);
}

.community-page .button:hover{
    background-color: var(--hover-add-enhance);
    cursor: pointer;
}

.community-page .iconHistory {
    background-color: transparent;
    color: var(--sub-title);
    border-radius: 50%;
    border:2px solid var(--border-plus-enhance);
    width: 25px; 
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    font-size: 25px; 
}

.community-page .posts {
    flex: 1;
    padding: 25px 35px 25px 30px;
    background-color: var(--sidebar-gradient);
    border-radius: 30px;
    height: 50vw;
    overflow: hidden;
}

.community-page .posts .wrapper {
    height: 100%;
    overflow-y: scroll;
}

.community-page .ebutton-icon{
    width: 2vw;
    margin-right: 18px;
}

#community:hover{
    background-color: var(--button);
}

.community-page .copyright{
    color: var(--sub-title);
    margin-top: 20px;
    margin-bottom: 0;
}


.create-post{
    position: fixed;
    top: 9.4vw;
    left: 16vw;
    padding: 35px 40px;
    background-color: rgba(8, 17, 50, 0.9); 
    box-shadow: 0px 0px 20px rgba(45, 94, 177, 1);
    width: 78%;
    height: 71%;
    border-radius: 20px;
    z-index: 1000; 
}

.close{
    display: flex;
    justify-content: end;
}

.close img{
    width: 20px;
    margin-top: 0;
    cursor: pointer;
}

.posting{
    margin-top: auto;
    margin-bottom: 0;
}

.formAtt{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 3vw;
    background-color: var(--history-menu);
    border-radius: 50px;
    flex: 1; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.attachment, .send {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.attachment{
    padding: 18px 15px 18px 18px;
}

textarea::-webkit-scrollbar {
    display: none;   /* Menyembunyikan scrollbar */
  }

textarea {
    flex: 1; 
    height: 60%; 
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border-bottom: 2px solid var(--title);
    align-items: start;
}

.icon-form{
    width: 20px;
    display: flex;
    align-items: center;
}

button {    
    display: flex;
    border: none;
    align-items: center;
    background: none;
    padding: 18px;
    margin: none;
}

.create-reply{
    position: fixed;
    top: 9.4vw;
    left: 16vw;
    padding: 35px 40px;
    background-color: rgba(8, 17, 50, 0.9); 
    box-shadow: 0px 0px 20px rgba(45, 94, 177, 1);
    width: 78%;
    height: 71%;
    border-radius: 20px;
    z-index: 1000; 
}

.RepliedReply{
    border-bottom: 2px solid var(--hover-history-menu);
}

.replyArea{
    margin-top: auto;
    margin-bottom: 0;
}

.ListReply{
    margin: 17px 0 17px 5vw;
    flex: 1;
    overflow: scroll;
    height: 100%;
}

.notificationSuccess {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745; /* Warna hijau untuk sukses */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 2.5s ease-in-out; /* Durasi lebih cepat: 2.5 detik */
}

.notificationFailed {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:  #dc3545; /* Warna Merah untuk Gagal */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 2.5s ease-in-out; /* Durasi lebih cepat: 2.5 detik */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px); /* Efek muncul dari atas */
    }
    15%, 85% {
        opacity: 1;
        transform: translateX(-50%) translateY(0); /* Stabil di tengah */
    }
}
