.history-page {
    background-color: var(--background);
    color: var(--sub-title);
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid red;
}

#history:hover{
    background-color: var(--button);
}