.history-page {
    background-color: var(--background);
    color: var(--sub-title);
}

.history-list {
    height: 32.5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    padding: 0;
}

#history:hover{
    background-color: var(--button);
}

.history-page .copyright{
    color: var(--sub-title);
    margin-top: 20px;
    margin-bottom: 0;
}