.before-enhance-page {
    width: 100%;
    height: 100%;
}

.before-enhance-page h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 5vw;
    line-height: 50px;
}

.before-enhance-page .button {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    height: 100%;
    color: var(--history-menu);
    background-color: var(--sidebar-gradient);
}

.before-enhance-page .container-upload {
    flex: 1;
    background-color: #073161;
    border-radius: 40PX;
    height: 400px;
}

.before-enhance-page .container-icon{
    display: flex;
    place-items: center;
    height: 5px;
    background-color: #15214b;
    padding: 20px;
    border-radius: 10px;
}

.before-enhance-page .img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.before-enhance-page  .upload-button {
    font-size: 1vw;
    color: #073161;
    background-color: #cbdceb;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

.before-enhance-page .ebutton-icon{
    width: 2vw;
    margin-right: 18px;
}

.before-enhance-page .buttons {
    width: 100%;
    height: 3.5vw;
    margin-bottom: 27px;
    display: flex;
}
.before-enhance-page .visualizer {
    /* border: solid 1px red; */
    flex: 1;
    padding: 25px 35px 25px 30px;
    background-color: var(--sidebar-gradient);
    border-radius: 30px;
    height: 50vw;
    overflow: hidden;   
}
.before-enhance-page .audio-current-time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.before-enhance-page .remove-button{
    font-size: 1vw;
    color: #073161;
    background-color: #cbdceb;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    margin-top: 21px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    height: 45.22px;
}

.play_button{
    font-size: 35px;
    color: #cbdceb;
    /* border: solid 1px red; */
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.before-enhance-page .wave{
    /* border: solid 1px red; */
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
}

.sub-visualizer-2{
    flex: 1;
}

.download-button{
    font-size: 35px;
    color: #cbdceb;
    /* border: solid 1px red; */
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.before-enhance-page .upload-button {
    font-size: 1vw;
    color: #073161;
    background-color: #cbdceb;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

.before-enhance-page .upload-button-container {
    align-items: end;
    width: 100%;
    margin-top: 1vh;
}

.before-enhance-page .copyright{
    text-align: center;
    color: var(--sub-title);
    margin-top: 20px;
    margin-bottom: 0;
}