.history-page{
    width: 100%;
    height: 100%;
}

.history-page{
    width: 100%;
    height: 100%;
}

.history-item h2 {
    color: var(--sub-title);
}

.history-page h1{
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 5vw;
    line-height: 50px;
}

.history-page h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 5vw;
    line-height: 50px;
}

.item-button-container {
    padding: 0 2.5vw;
    display: flex;
    gap: 10px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 8px;
}

.history-page .buttons {
    width: 100%;
    height: 3.5vw;
    margin-bottom: 27px;
    display: flex;
}

.history-page .button {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    height: 100%;
    color: var(--history-menu);
    background-color: var(--sidebar-gradient);
}

.iconHistory {
    background-color: transparent;
    color: var(--sub-title);
    border-radius: 50%;
    border:2px solid var(--border-plus-enhance);
    width: 25px; 
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    font-size: 25px; 
}

.history-page .ebutton-icon{
    width: 2vw;
    margin-right: 18px;
}

.button:hover {
    background-color: var(--hover-add-enhance);
    cursor: pointer;
}

.iconHistory:hover {
    border: var(--sub-title);
}

.item-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.item-info {
    color: var(--button);
    display: flex;
    /* flex-direction: column; */
    gap: 1px;
    justify-content: center;
    margin-bottom: 8px;
}

.item-info p {
    margin: 0;
}

.item-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.item-date, 
.item-size {
    color: var(--black);
    font-size: 15px;
    font-family: 'cambria';
    line-height: 18px;
}

.item-right {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    height: 100%;
}

.item-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.1vw 0.3vw;
    background: none;
    border: none;
    color: var(--edit-text);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50px;
    font-size: 1.5vw;
}

.item-button p {
    margin: 0;
    line-height: 1.5vw;
}

.item-button:hover{
    filter: brightness(0) saturate(100%) invert(89%) sepia(97%) saturate(3248%) hue-rotate(176deg) brightness(107%) contrast(84%);
}

.button-icon {
    height: 16px;
    vertical-align: middle;
}

.history-item {
    height: 82px;
    display: flex;
    justify-content: space-between;
    background-color: var(--history-menu);
    border-radius: 50px;
    align-items: center;
    padding-right: 2vw;
}
  
.history-item:hover {
    background-color: var(--hover-plus-enhance);
}

.history-item:hover .item-name {
    color: var(--history-menu);
}

.history-item:hover .item-date, 
.history-item:hover .item-size,
.history-item:hover .item-info {
    color: var(--sub-title);
}

.hidden { 
    display: none;
    }

button{
    display: flex;
    color:#ffffff;
    border: none;
    align-items: center;
    background: none;
    justify-content: center;
    border-radius: 30px;
    background-color: #15214b;
    margin-bottom: 0;

    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
}

input{
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 2px solid aliceblue;
    outline: none;
    background: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    width: 20.35vw;
    color: var(--history-menu);
}

.cancel-btn{
    width: 7vw;
}

.cancel-btn:hover{
    background-color: var(--edit-text);
    cursor: pointer;
}