.post {
    padding-top: 5px;
    gap: 1.5vw;
}


.post .pic-container img {
    border: 3px solid var(--history-menu);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}

.post h2 {
    text-align: start;
    font-size: 1.6vw;
    color: var(--history-menu);
    margin-bottom: 5px;
}

.post p {
    margin-top: 0;
    text-align: justify;
    font-size: 1.2vw;
    margin-bottom: 10px;
}

.post hr {
    border: none;
    height: 1.5px;
    width: 100%;
    background-color: var(--hover-history-menu);
    margin-top: 0px;
    margin-bottom: 20px;
}

.data{ 
    width: 100%;
}

.reply{
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--edit-text);
    gap: 0.5vw;
    cursor: pointer;
}

.reply:hover{
    filter: brightness(0) saturate(100%) invert(92%) sepia(3%) saturate(1737%) hue-rotate(178deg) brightness(95%) contrast(93%);
}

.reply img{
    height: 1vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reply p{
    font-size: 1.5vw;
    line-height: 14.75px;
}

/* CSS untuk ikon titik tiga horizontal */
.dot-menu {
    cursor: pointer;
    gap: 5px;
    margin-right: 8px;
    aspect-ratio: 1 / 1;
    padding: 4px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.dot-menu:hover{
    filter: brightness(0) saturate(100%) invert(61%) sepia(63%) saturate(623%) hue-rotate(187deg) brightness(102%) contrast(89%);
}

.dropdown {
    position: relative;
}

.option {
    position: absolute;
    left: -107.5px; /* Menjaga posisi kiri di bawah tombol titik tiga */
    margin-top: 7px;
    background-color: var(--button);
    color: var(--hover-history-menu);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
}

.edit, .deletePost{
    align-items: center;
    gap: 5px;
    padding: 4px 10px 3px 10px;
    height: 100%;
    cursor: pointer;
}

.edit p, .deletePost p{
    height: 100%;
    margin: 0;
    padding: 0;
}

.post .option .iconDropDown{
    height: 20px;
}

.edit:hover, .deletePost:hover{
    filter: brightness(0) saturate(100%) invert(56%) sepia(85%) saturate(262%) hue-rotate(174deg) brightness(102%) contrast(89%);
}