.post {
    padding: 1% 2%;
    gap: 2vw;
}

.post .pic-container {
    height: 100%;
    aspect-ratio: 1/1;
}

.post .pic-container img {
    height: 100%;
    padding: 2px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.post h2 {
    text-align: start;
    font-size: 1.6vw;
    color: var(--post-title);
}

.post p {
    text-align: justify;
    font-size: 1.2vw;
}

.post hr {
    height: 1.5px;
    background-color: var(--white);
}
