.replyList {
    gap: 1.5vw;
}


.replyList .pic-container img {
    border: 3px solid var(--history-menu);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    aspect-ratio: 1/1;
}

.replyList h2 {
    text-align: start;
    font-size: 1.4vw;
    color: var(--history-menu);
    margin-bottom: 5px;
}

.replyList p {
    margin-top: 0;
    text-align: justify;
    font-size: 1.1vw;
    margin-bottom: 10px;
}

.replyList .data{ 
    width: 100%;
    padding-bottom: 15px;
}

.reply{
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--edit-text);
    gap: 0.5vw;
    cursor: pointer;
    width: 4.3vw;
}

.reply img{
    height: 1vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reply p{
    font-size: 1.5vw;
    line-height: 14.75px;
}