.sidebar {
    background-image: linear-gradient(to bottom, var(--sidebar-gradient), var(--background));
    width: 10vw;
    height: 100%;
    justify-content: space-between;
}

.sidebar-content {
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.logo {
    padding: 61.2px 0px;
    width: 100%;
    gap: 0.4vw;
    border-bottom: 2px solid var(--sub-title);
}

.logo img {
    width: 5vw;
}

.icon {
    height: 5.5vw;
    width: 5.5vw;
    color: var(--sub-title);
    border-radius: 15%;
}

.icon img {
    width: 2vw;
}

.logo p {
    margin: 0;
    font-size: 1.5vw;
    line-height: 1.4vw;
    color: var(--history-menu);
}

.icon p {
    margin: 0;
<<<<<<< HEAD
    font-size: 1.4vw;
    line-height: 1.75vw;
    min-width: 50px;
    text-align: center;
=======
    font-size: 1vw;
    margin-top: 0.75vw;
    line-height: 0;
>>>>>>> c2a9fccca2375b2f223863e0b65b1f01f8df4057
}

.icon.active {
    background-color: var(--button);
    border-radius: 15%;
}

#lab:hover, #history:hover, #community:hover  {
    background-color: var(--hover);
    border-radius: 15%;
}

.help {
    width: 100%;
    margin-top: auto;
}

.help img{
    margin-bottom: 25px;
    width: 3.75vw;
}