@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Gurajada&display=swap');

:root {
    --background: #081132;
    --sidebar-gradient: #073161;
    --title: #9299B5;
    --sub-title: #F9FAF5;
    --post-title: #ECECED;
    --post-date: #D3D3D3;
    --white: #FFFFFF;
    --black: #000000;
    --button: #133E87;
    --edit-text: #77ACF1;
    --posts: #2661AA0F;
    --hover: #77acf167;
    --history-menu: #CBDCEB;
    --hover-history-menu: #9299B5;
    --border-plus-enhance: #2e5eb2;
    --hover-plus-enhance: #2D5EB1;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--sub-title);
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 5vw;
    font-weight: 700;
    color: var(--title);
    margin-bottom: 1vw;
}

.gurajada {
    font-family: "Gurajada", sans-serif;
}


.firacode {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
}

p {
    text-align: left;
}

h1 {
    text-align: left;
}